@page
@model HospitalEnCasa.App.FrontEnd.DetailsModel

<h1>Datos</h1>
<ul>
    <li>Cedula: @Model.persona.cedula</li>
    <li>Nombre: @Model.persona.nombre</li>
    <li>Edad: @Model.persona.edad</li>
</ul>
