@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a hospital en Casa</h1>
    <p class="text-success">Esta aplicación ha sido creada por los beneficiarios del programa de misión, un saludo para todos</p>
    <img class="img-responsive img-rounded" width="400px" src="~/images/hospital.jpg" alt="imagen principal">
</div>
